
h1 {
  color:white;
  /* font-size: 2px; */
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
  background-color: rgb(11, 11, 11);
}

/* Style the list */
ul {
  list-style: none;
  padding: 0;
}

/* Style list items */
li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.starship-card {
  display: inline-block; /* Display starship cards inline */
  width: 200px; /* Set the width of each card */
  border: 1px solid #ccc;
  color: white;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  background-color:rgb(40, 77, 40);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.starship-card:hover {
  transform: scale(1.05);
}

.App {
  text-align: center;
  padding: 20px;
  width: 100%;
 
}

.starship-container {
  display: flex;
  flex-wrap: wrap; /* Wrap cards to the next line when they don't fit horizontally */
  justify-content: center; /* Center-align the cards horizontally */
  gap: 20px; /* Adjust the gap between cards as needed */
}







